.open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 1;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
}

.close-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 1;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
}

.form-popup {
    display: none;
    position: fixed;
    bottom: 80px;
    right: 15px;
    border: 3px soild #f1f1f1;
    z-index: 9;
}