/* Contact Popup Form with Verification Challenge: Step 394 */
/* Sticky Challenge: Step 400 */
.open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 1;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
}

.close-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 1;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
}

.form-popup {
    display: none;
    position: fixed;
    bottom: 80px;
    right: 15px;
    border: 3px soild #f1f1f1;
    z-index: 9;
}

/* Animation Challenge: Step 396 */
.racecar {
    position: fixed;
    animation-name: drive;
    animation-duration: 3s;
    animation-iteration-count: infinite;

}

@keyframes drive { 
    from{ transform: translateX(-100px)}
    to{ transform: translateX(4000px)}
}

/* CSS Zoom in & out Challenge:Step 397 */
#zoomContainer {
    position: relative;
    margin-top: 110px;
    margin-left: 500px;
    transition: transform 300ms;
    animation: zoominoutsinglefeatured 3s forwards;
    cursor: zoom-in;
}

@keyframes zoominoutsinglefeatured {
    0% {
        transform: scale(1,1);
    }
    50% {
        transform: scale(1.2,1.2);
    }
    100% {
        transform: scale(1,1);
    }
}

